/* * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        } */
        body {
            background-color: rgb(186 152 255);
            display: flex;
            /* align-items: center;
            justify-content: center; */
          }
    
          .card {
            width: 255px;
            height: 454px;
            background-color: azure;
            border-radius: 7px;
            margin: 50px 
          }
    
          .image {
            padding: 4px 5px;
            /* padding: 5px 6px 0 6px; */
          }
    
          .image img {
            border-radius: 7px;
            border: 1px solid #000;
            box-shadow: 0 0 2px #000;
          }
    
          .content {
            padding: 4px 10px;
          }
    
          .content p {
            font-size: 15px;
            line-height: 23px;
            margin: 0px 2px;
            color: rgb(83, 72, 72);
          }
    
          .capsule {
            padding: 0 3px;
          }
    
          .capsule span {
            background-color: rgb(228, 228, 228);
            border-radius: 15px;
            padding: 0px 11px;
            font-size: 14px;
            margin: 0px 5px;
          }
    
          /* .btn {
            width: 104px;
            margin: 0 auto;
            padding: 2px 0;
          }
    
          .btn a {
            background-color: rgb(248, 192, 164);
            color: rgb(19, 74, 238);
            border: none;
            font-size: 14px;
            padding: 0 10px;
            border-radius: 12px;
            font-weight: bold;
            text-decoration: none;
          } */
    
          .button {
            text-align: center;
          }
    
          .button button {
            padding: 4px 10px;
            border: none;
            border-radius: 12px;
            background-color: #bb12d5;;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
          }
    
          .button button:hover {
            background-color: #cf2af9;
          }